<template lang="html">
  <header>

    <!-- ARROW -->
    <div
      class="icon-top text-align-right"
      :id="$store.state.menu == false ? 'icon-top-small' : ''">
      <span
        :class="$store.state.menu == false ? 'icon-arrow-right' : 'icon-arrow-left'"
        @click="$store.commit('toggle_main_menu')">
      </span>
    </div>
    <!-- ARROW END -->

    <!-- NORMAL OPEN HEADER -->
    <div id="normal-header">

      <!-- TITLE -->
      <div class="title">
        <a href="#" class="markpro-medium">Titulo de la pagina</a>
      </div>
      <!-- TITLE END -->

      <!-- MAIN MENU -->
      <div class="main-menu">
        <ul class="main-list">
          <li
            v-for="(item, index) in $store.state.mainMenu"
            :key="index"
            class="main-item markpro-medium">
            <nuxt-link
              :to="'/' + item.url">
              <span
                @click="$store.commit( 'activate_menu_item', { 'index': index } )"
                :class="item.status == 'active' ? 'active li-title' : 'li-title'">
                <div
                  :class="item.status == 'active' ? 'bookmark bookmark-left blue-background' : 'bookmark bookmark-left'">
                </div>
                {{item.title}}
              </span>
            </nuxt-link>
            <ul
              v-if="item.status == 'active' && item.sub_menu != 'none'"
              class="sub-list">
              <li
                v-for="(subitem, index2) in item.sub_menu"
                @click="$store.commit( 'activate_sub_menu_item', { 'index': index, 'index2': index2 } )"
                :key="index2"
                :class="subitem.status == 'active' ? 'sub-item markpro active' : 'sub-item markpro'">
                <span>
                  <div class="bookmark-small bookmark-left"></div>{{subitem.title}}
                </span>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- MAIN MENU END -->

      <!-- SECONDARY MENU -->
      <div class="secondary-menu">
        <div class="secondary-menu-item">
          <p class="markpro-medium">Important Stuff</p>
          <a href="#">Resume</a>
        </div>
        <div class="secondary-menu-item">
          <p class="markpro-medium">Email</p>
          <a href="#">hola@jpcasabianca.com</a>
        </div>
        <div class="secondary-menu-item">
          <p class="markpro-medium">Phone</p>
          <a href="#">+57 350 701 5800</a>
        </div>
        <div class="secondary-menu-item">
          <p class="markpro-medium">Find me on</p>
          <span><a href="#">Linkedin</a> - <a href="#">Medium</a></span>
        </div>
      </div>
      <!-- SECONDARY MENU END -->

    </div>
    <!-- NORMAL HEADER END -->

    <div id="small-header">
      <span
        v-for="(item, index) in $store.state.mainMenu"
        :key="index"
        @click="$store.dispatch('toggle_information_in_third_menu', {
          'index' : index,
          'action' : 'open'
        })"
        :class="item.status == 'active' ? item.icon + ' active' : item.icon">
      </span>
    </div>

    <div id="small-header-secondary-menu">
      <span
        @click="$store.commit('toggle_modal_window', { 'status': $store.state.contactSmallModal.status } )"
        :class="$store.state.contactSmallModal.status == 'active' ? 'icon-x-circle' : 'icon-message-circle'">
      </span>
    </div>

  </header>
</template>

<script>
export default {
  data() {
    return {
      icon_active: false,
    }
  },
  props: ['items'],
  mounted() {
    // console.log(this.items)
  }
}
</script>

<style lang="scss">

  // Base Modules
  @import '~/assets/sass/modules/_colors.scss';
  @import '~/assets/sass/modules/_animations.scss';
  @import '~/assets/sass/partials/_base.scss';

  // Partials
  @import '~/assets/sass/partials/_bookmarks.scss';


  // Extensions
  %list-item-active {
    background-color: $light-gray;
    color: $blue;
  }


  // Normal Header Bar
  .normal-header-bar {
    #small-header, #small-header-secondary-menu {
      display: none;
    }
  }

  // Small Header Bar
  .small-header-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    #normal-header {
      display: none;
    }
    #icon-top-small {
      span {
        margin: 0;
      }
      flex: 1;
      display: flex;
      align-items: center;
    }
    #small-header {
      width: 100%;
      text-align: center;
      flex: 8;
      display: flex;
      flex-direction: column;
      justify-content: center;
      span {
        font-size: 20px;
        color: $blue;
        display: block;
        padding: 15px 0;
        &:hover {
          background-color: $light-gray;
          cursor: pointer;
        }
      }
      span.active {
        background-color: $light-gray;
      }
    }
    #small-header-secondary-menu {
      display: flex;
      flex-direction: column;
      flex: 1;
      justify-content: center;
      align-items: center;
      width: 100%;
      span {
        cursor: pointer;
        display: block;
        font-size: 20px;
        padding: 8px;
        color: $blue;
        @include border-radius(50%);
        &:hover {
          background-color: $blue-ultra-light;
          color: $blue-dark;
          -webkit-animation: wiggle 600ms 1 ease-in-out;
          -ms-animation:  wiggle 600ms 1 ease-in-out;
        }
      }
    }
  }


  // Arrow Icon
  .icon-top {
    span {
      color: $blue;
      font-size: 25px;
      display: inline-block;
      padding: 8px;
      border-radius: 50%;
      margin: 6px 10px 0px 0;
      cursor: pointer;
      &:hover {
        background-color: $blue-ultra-light;
        color: $blue-dark;
        -webkit-animation: wiggle 600ms 1 ease-in-out;
        -ms-animation:  wiggle 600ms 1 ease-in-out;
      }
    }
  }


  // Title
  .title {
    margin-bottom: 30px;
    a {
      display: inline-block;
      color: $blue;
      font-size: 20px;
      margin-left: 30px;
      &:hover {
        color: $blue-dark;
      }
    }
  }

  // Main Menu
  .main-menu {
    ul.main-list {
      padding: 0;
      li.main-item {
        cursor: pointer;
        list-style: none;
        padding: 0;
        margin: 0;
        font-size: 16px;
        span.li-title {
          display: block;
          padding: 12px 0 12px 30px;
          position: relative;
          color: #000;
          &:hover {
            @extend %list-item-active;
            .bookmark {
              background-color: $blue;
            }
          }
        }
        span.active {
          @extend %list-item-active;
          margin-bottom: 15px;
          color: $blue;
        }
        ul.sub-list {
          padding: 0;
          margin: 0;
          margin-left: 30px;
          li.sub-item {
            position: relative;
            font-size: 14px;
            list-style: none;
            padding: 0;
            padding: 4px 0 3px 30px;
            &:hover {
              color: $blue;
              .bookmark-small {
                background-color: $blue;
              }
            }
          }
          li.active {
            color: $blue;
            .bookmark-small {
              background-color: $blue;
            }
          }
        }
      }
    }
  }

  // Secondary Menu
  .secondary-menu {
    margin-left: 30px;
    font-size: 14px;
    margin-top: 30px;
    .secondary-menu-item {
      margin-bottom: 15px;
      p {
        margin-bottom: 3px;
      }
      span {
        color: $gray-medium;
      }
      a {
        color: $gray-medium;
        &:hover {
          color: $blue;
        }
      }
    }
  }

</style>
