<template lang="html">
  <div id="third-menu-options">
    <div
      v-for="(item, index) in $store.state.mainMenu"
      :key="index"
      v-show="item.status == 'active'"
      class="inner-third-menu">
      <h1 class="third-menu-title">{{item.title}}</h1>
      <p
        v-for="(subitem, index2) in $store.state.mainMenu[index].sub_menu"
        :key="index2"
        :class="subitem.status == 'active' ? 'active' : ''">
        {{ subitem.title }}
      </p>
    </div>
    <span
      @click="$store.commit('toggle_menu', {'action' : 'close'})"
      class="icon-x-circle"
      id="close-third-menu">
    </span>
  </div>
</template>

<script>
export default {
  props: ['items'],

}
</script>

<style lang="scss">

  @import '~/assets/sass/partials/_base.scss';
  @import '~/assets/sass/modules/_colors.scss';

  %flexbox-column {
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #third-menu-options {
    position: fixed!important;
    left: $header_width_small!important;
    width: $main_content_open!important;
    top: 0;
    background-color: $third-menu-options-background-color;
    height: 100%;
    z-index: 90;
    @extend %flexbox-column;
    .third-menu-title {
      color: $blue-dark;
    }
    .inner-third-menu {
      @extend %flexbox-column;
      p {
        cursor: pointer;
        font-size: 22px;
        margin: 0;
        padding: 15px 0;
        color: $third-menu-options-text-color;
        &:hover {
          color: $third-menu-options-text-color-active;
        }
      }
      p.active {
        color: $third-menu-options-text-color-active;
      }
    }
  }

  #close-third-menu {
    position: absolute;
    right: 25px;
    top: 25px;
    font-size: 36px;
    cursor: pointer;
    color: $third-menu-options-text-color;
    &:hover {
      color: $third-menu-options-text-color-active;
    }
  }
</style>
