//** Global styles for the page.

// Import Bulma Essentials for Lightweight Build.
@import "~bulma/sass/utilities/all";
@import "~bulma/sass/grid/all";

// Imports COLOR Variables.
@import 'modules/normalize';
@import 'modules/colors';
@import 'modules/animations';

// Imports Mixins, Variables, And Partials
@import 'partials/base';

// Imports Plugins
// @import 'vendor/animate';

// FONTS
@import '~/static/icons/style.css';

// ICONS
@import '~/static/fonts/style.css';

//## Main styles

// BODY
body {
  font-family: 'MarkPro', helvetica, sans-serif;
}

a {
  text-decoration: none;
}

p {
  color: $gray-medium;
  font-family: 'MarkPro-Light', helvetica, sans-serif;
}

.text-align-right {
  text-align: right;
}

.text-align-left {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

.shadow {
  -webkit-box-shadow: 0px 0px 23px 0px rgba(173,173,173,0.23);
  box-shadow: 0px 0px 23px 0px rgba(173,173,173,0.23);
}

.shadow-dark {
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.23);
  box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.23);
}

.wiggle {
  &:hover {
    -webkit-animation: wiggle 600ms 1 ease-in-out;
    -ms-animation:  wiggle 600ms 1 ease-in-out;
  }
}

.cont80 {
  width: 80%;
}

.cont60 {
  width: 60%;
}

.container {
  width: 100%!important;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// HEADER
header, #main-content {
  position: fixed;
  height: 100%;
}

header {
  left: $header_horizontal;
  top: $header_vertical;
  width: $header_width;
  background-color: $header-background-color;
  overflow-y: scroll;
  z-index: 3000;
}

header.small-header-bar {
  width: $header_width_small!important;
}

#main-content {
  width: $main_content;
  left: $header_width;
  top: $main_content_vertical;
  overflow-y: scroll;
  overflow-x: hidden!important;
}

.complete-main-content {
  width: $main_content_open!important;
  left: $header_width_small!important;
  z-index: 1;
}

.page-enter-active, .page-leave-active {
  transition: opacity .5s!important;
}
.page-enter, .page-leave-active {
  opacity: 0!important;
}

.nuxt-progress {
  background: $blue!important;
}
