//** Color Variables:

//## Main Color Palette

// Grays
$light-gray: #edf1fc;
$gray: #cccccc;
$gray-medium: #88959f;
$gray-dark: #6a7982;

// Yellows
$yellow-orange: #ffc991;
$yellow-light: #f9dd7b;
$yellow: #ffcd5e;

// Reds
$red: #ff5d5c;

// Blues
$blue-ultra-light: #bac5f9;
$blue-light: #7682ff;
$blue: #4d47dc;
$blue-medium: #4d46cd;
$blue-heavy: #3f3a99;
$blue-dark: #1b0b6b;
$blue-black: #121522;

//## Main Content

// HEADER COLORS
$header-background-color: #fff;

$third-menu-options-background-color: #4d47dc;
$third-menu-options-text-color: #fff;
$third-menu-options-text-color-active: #ffc991;

// UTILITY FIRST USE
// Background Colors
.blue-background {
  background-color: $blue;
}
.light-gray-background {
  background: $light-gray;
}
.gray-background {
  background: $gray;
}
.gray-medium-background {
  background: $gray-medium;
}
.gray-dark-background {
  background: $gray-dark;
}
.yellow-orange-background {
  background: $yellow-orange;
}
.yellow-light-background {
  background: $yellow-light;
}
.yellow-background {
  background: $yellow;
}
.red-background {
  background: $red;
}
.blue-ultra-light-background {
  background: $blue-ultra-light;
}
.blue-light-background {
  background: $blue-light;
}
.blue-background {
  background: $blue;
}
.blue-medium-background {
  background: $blue-medium;
}
.blue-heavy-background {
  background: $blue-heavy;
}
.blue-dark-background {
  background: $blue-dark;
}
.blue-black-background {
  background: $blue-black;
}

// Background Color Hover
.blue-background-hover {
  &:hover {
    background-color: $blue;
  }
}
.light-gray-background-hover {
  &:hover {
    background: $light-gray;
  }
}
.gray-background-hover {
  &:hover {
    background: $gray;
  }
}
.gray-medium-background-hover {
  &:hover {
    background: $gray-medium;
  }
}
.gray-dark-background-hover {
  &:hover {
    background: $gray-dark;
  }
}
.yellow-orange-background-hover {
  &:hover {
    background: $yellow-orange;
  }
}
.yellow-light-background-hover {
  &:hover {
    background: $yellow-light;
  }
}
.yellow-background-hover {
  &:hover {
    background: $yellow;
  }
}
.red-background-hover {
  &:hover {
    background: $red;
  }
}
.blue-ultra-light-background-hover {
  &:hover {
    background: $blue-ultra-light;
  }
}
.blue-light-background-hover {
  &:hover {
    background: $blue-light;
  }
}
.blue-background-hover {
  &:hover {
    background: $blue;
  }
}
.blue-medium-background-hover {
  &:hover {
    background: $blue-medium;
  }
}
.blue-heavy-background-hover {
  &:hover {
    background: $blue-heavy;
  }
}
.blue-dark-background-hover {
  &:hover {
    background: $blue-dark;
  }
}
.blue-black-background-hover {
  &:hover {
    background: $blue-black;
  }
}
