<template lang="html">
  <section
    :style="get_inline_css(alignVertical, alignHorizontal, backgroundImage)"
    class="banner-cta-container columns">

    <div class="cont80">
      <div
        :class="size + ' column text-card-cta'"
        :id="uniqueId">

        <!-- SUB TITLE -->
        <p class="header">{{ header }}</p>

        <!-- MAIN TITLE -->
        <h1 class="main-title markpro">{{ title }}</h1>

        <!-- DESCRIPTION -->
        <p class="description markpro-light">{{ description }}</p>

        <!-- CTA -->
        <Cta
          :title="ctaTitle"
          :url="ctaUrl" />

      </div>
    </div>
  </section>
</template>

<script>

  import Cta from '~/components/Elements/Cta.vue';

  export default {
    props: [
      'size',
      'backgroundImage',
      'header',
      'title',
      'description',
      'ctaTitle',
      'ctaUrl',
      'alignVertical',
      'alignHorizontal',
      'uniqueId',
    ],
    components: {
      Cta,
    },
    methods: {
      getImgUrl(img) {
        var images = require.context('~/static/img/', false, /\.png$/)
        return images('./' + img + ".png")
      },
      get_inline_css(alignVertical, alignHorizontal, img) {
        let inline_css = '';
        inline_css += 'background-image:url(' + this.getImgUrl(img) + ');';
        inline_css += 'align-items: ' + alignHorizontal + ';';
        inline_css += 'justify-content: ' + alignVertical + ';';
        return inline_css;
      }
    }
  }
</script>

<style lang="scss">

  @import '~/assets/sass/modules/_colors.scss';
  @import '~/assets/sass/partials/_base.scss';

  .banner-cta-container {
    display: flex;
    height: 700px;
    background-size: cover;
  }

  .text-card-cta {
    .header {
      color: $yellow-orange;
      margin: 0;
      margin-bottom: 15px;
    }
    .main-title {
      color: #fff;
      margin: 0;
    }
    .description {
      color: $blue-ultra-light;
      margin-bottom: 25px;
    }
  }
</style>
