<template lang="html">

  <a
    :href="url"
    class="cta shadow-dark markpro-light">
      {{title}}
  </a>

</template>

<script>
export default {
  props: ['title', 'url']
}
</script>

<style lang="scss">

  @import '~/assets/sass/modules/_colors.scss';
  @import '~/assets/sass/partials/_base.scss';

  .cta {
    background-color: $blue-dark;
    color: #fff;
    padding: 15px 60px;
    display: inline-block;
    @include border-radius(25px);
    &:hover {
      background-color: $yellow-orange;
    }
  }

</style>
