<template lang="html">
  <div class="img-circle-container" :style="determine_size(size)">
    <img :src="getImgUrl(img)" :alt="alt">
  </div>
</template>

<script>
export default {
  props: ['img', 'alt', 'size'],
  methods: {
    getImgUrl(img) {
      var images = require.context('~/static/img/', false, /\.png$/);
      return images('./' + img + ".png");
    },
    determine_size(size) {
      let size_string = '';
      if (size == 'xs') {
        size_string += 'width:60px;height:60px;';
      } else if (size == 's') {
        size_string += 'width:150px;height:150px;';
      } else if (size == 'm') {
        size_string += 'width:200px;height:200px;';
      } else if (size == 'l') {
        size_string += 'width:300px;height:300px;';
      } else if (size == 'xl') {
        size_string += 'width:500px;height:500px;';
      } else {
        size_string += 'width:250px;height:250px;';
      }
      return size_string;
    }
  }
}
</script>

<style lang="scss">

  @import '~/assets/sass/partials/_base.scss';

  .img-circle-container {
    overflow: hidden;
    margin: auto;
    @include border-radius(50%);
    img {
      width: 100%;
      height: auto;
    }
  }
</style>
