<template lang="html">
  <div class="small-modal-message shadow">

    <!-- CLOSE ICON -->
    <span
      class="icon-x-circle close-small-modal wiggle"
      @click="$store.commit('toggle_modal_window', { 'status': $store.state.contactSmallModal.status } )">
    </span>

    <!-- LEFT BOOKMARK -->
    <div class="bookmark bookmark-left blue-background"></div>

    <!-- ITEMS LOOP -->
    <div
      v-for="(item, index) in data"
      :key="index"
      class="secondary-menu-item2">
        <p class="markpro-medium">{{ item.title }}</p>
        <a
          v-for="(link, link_index) in item.links"
          :key="link_index"
          :href="link.url"
          target="_blank">
            {{ link.link_title }}
        </a>
    </div>

  </div>
</template>

<script>
export default {
  props: [
    'type',
    'data',
  ],
}
</script>

<style lang="scss">

  @import '~/assets/sass/partials/_base.scss';
  @import '~/assets/sass/modules/_colors.scss';

  .small-modal-message {
    position: fixed;
    z-index: 2000;
    width: 260px;
    height: auto;
    left: $modal_left;
    bottom: 20px;
    background-color: $modal_background;
    text-align: center;
    .close-small-modal {
      position: absolute;
      right: 10px;
      top: 8px;
      font-size: 20px;
      color: $blue;
      cursor: pointer;
      &:hover {
        color: $yellow-orange;
      }
    }
  }

  .secondary-menu-item2 {
    font-size: 14px;
    padding: 15px 0;
    background: #fff;
    p {
      margin: 0;
      margin-bottom: 4px;
    }
    a {
      color: $gray-medium;
      margin: 0 3px;
      &:hover {
        color: $blue;
      }
    }
  }
</style>
