<template lang="html">
  <div class="title-card container">
    <p class="title-card-subheader">{{subheader}}</p>
    <h1 class="title-card-header markpro-medium">{{header}}</h1>
    <p
      :v-show="text != ''"
      class="title-test-header markpro-light">{{text}}</p>
  </div>
</template>

<script>
export default {
  props: ['subheader', 'header', 'text']
}
</script>

<style lang="scss">

  @import '~/assets/sass/modules/_colors.scss';
  @import '~/assets/sass/partials/_base.scss';

  .title-card {
    text-align: center;
    .title-card-subheader {
      font-size: 15px;
      color: $yellow-orange;
    }
    .title-card-header {
      color: $blue-black;
      margin: 0;
    }
    .title-test-header {
      color: $gray-medium;
    }
  }

</style>
