<template>
  <div>

    <!-- THE HEADER -->
    <Header
      :class="$store.state.menu == false ? 'small-header-bar' : 'normal-header-bar'" />

    <!-- OPEN HEADER OPTIONS -->
    <OpenHeader
      v-show="$store.state.thirdMenu" />

    <!-- MAIN CONTENT -->
    <main
      :class="$store.state.menu == false ? 'complete-main-content' : ''"
      id="main-content">
      <nuxt/>

      <SmallModal
        type="list"
        :data="$store.state.contactSmallModal.links"
        v-show="$store.state.contactSmallModal.status == 'active'" />

    </main>

  </div>
</template>

<script>

  // Import Components
  import Header from '~/components/Header/Header';
  import OpenHeader from '~/components/Header/OpenHeader';
  import SmallModal from '~/components/Elements/SmallModal';

  export default {
    components: {
      Header,
      OpenHeader,
      SmallModal,
    },
    transition: {
      name: 'test',
      mode: 'out-in',
    },
  };
</script>

<style>
  main {
    position: relative;
  }
  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }
  .slide-fade-enter-active {
    transition: all .3s ease;
  }
  .slide-fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
  }
</style>
