<template lang="html">
  <section id="about-page">
    <h1>Hi, That's me</h1>
    <p>We're bunch of highly motivated and taleneted people bloggin about tech stuff</p>
  </section>
</template>

<script>
export default {
}
</script>

<style lang="css">
</style>
