<template>
  <div>

    <!-- FIRST FOLD -->
    <BannerTextCta
      size="is-three-fifths"
      backgroundImage="background-about-me"
      header="Hi there"
      title="I’m a Full Stack Developer, UI / UX Specialist and Inbound Marketer."
      description="Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad."
      ctaTitle="Discover Me"
      ctaUrl="#"
      alignVertical="center"
      alignHorizontal="flex-start"
      uniqueId="first-fold-textcard" />

      <section class="container" id="section-short-bio">

        <div class="cont60">

          <Title
            subheader="How you doin' ?"
            header="Hi Stranger!"
            text="" />

          <ImgCircle
            img="jpc"
            alt="algo"
            size="" />

          <p class="text-align-center" id="about-me-description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>

          <!-- CTA -->
          <Cta
            title="Check Out My Skills"
            url="ctaUrl" />

        </div>

      </section>


  </div>
</template>

<script>

import BannerTextCta from '~/components/Elements/BannerTextCta.vue';
import Title from '~/components/Elements/Title.vue';
import ImgCircle from '~/components/Elements/ImgCircle.vue';
import Cta from '~/components/Elements/Cta.vue';

export default {
  components: {
    BannerTextCta,
    Title,
    ImgCircle,
    Cta
  }
}
</script>

<style lang="scss">

  #first-fold-textcard {
    margin-top: 120px;
  }

  #section-short-bio {
    text-align: center;
    #about-me-description {
      margin: 30px 0;
    }
  }
  
</style>
