//** Bookmarks:

%bookmark {
  position: absolute;
  height: 100%;
  top: 0;
}

.bookmark {
  @extend %bookmark;
  width: 8px;
}

.bookmark-small {
  @extend %bookmark;
  width: 5px;
}

.bookmark-left {
  left: 0;
}
