//** Global Variables:

//## Page

// Dimensions
$header_width: 350px;
$header_horizontal: 0;
$header_vertical: 0;
$header_width_small: 80px;

$main_content: calc(100% - 350px);
$main_content_open: calc(100% - 80px);
$main_content_vertical: 0;

// Modals
$modal_left: 100px;
$modal_left_big: 370px;
$modal_bottom: 20px;
$modal_right: 20px;
$modal_top: 20px;

$modal_background: #fff;
